/* Extra small devices (phones) */
@media (max-width: 520px) { 
    body {
        width: 100%;
    }
    .logo{
        display: none;
    }
    
    .left-logo{
        padding-left: 30px;
    }
    .text-banner p{
        font-size:12px;
        line-height: 1.5;
    }
    
    .column{
        width:100%;
        padding: 10px 20px;
    }

    .news-module-bakalavr{
        display: none;
    }

    .news-module1{
        display: block;
    }
    .flex-module{
        display: block;
    }
    .left-flex{
        max-width: 100%;
    }
    
    .right-flex{
        max-width: 100%;
    }

    .right-column{
        padding-left: 0px;
    }

    .left-column{
        max-width: 100%;
    }

    .right-column{
        max-width: 100%;
    }

    .tab-module{
        padding: 10px 50px;
        
    }

    header img{
        height: 35px;
    }

    header .logos{
        padding: 20px 10px;
    }

    .site-header .logos h2 {
      font-size: 13px;
    }

    header .logos #kpi-logo img {
      height: 33px;
    }

    header .logos #iasa-logo img {
      height: 33px;
    }

    header .left-logo p{
        display: none;
    }

    header .left-logo a{
        font-size: 16px;
        line-height: 1.1;
    }

    .left-logo .text {
        margin-left: 10px;
        margin-top: 20px;
    }

    header .right-logo p{
        font-size: 10px;
    }

    .video video{
        width: 85%;
        height: 85%;
    }

    .map iframe{
        width: 85%;
    }

    .text-content{
        padding: 30px 10px;
    }
    .text-content-inner{
        padding: 0px 0px;
        text-align: center;
    }

    .tables{
        padding: 10px 5px;
        font-size: 12px;
    }

    .row{
        display: block;
    }

    .smallScreen {
        display: none;
    }

    .year table th, td{
        font-size: 8px;
    }

    .center{
        display: block;
    }
 
    .img-center{
        width: 100%;
    }

    .diploma-list>ul{
        display: block;
   }

   .wp-block-file>a.wp-block-file__button {
       display: none;
   }

   .wp-block-separator {
        margin: 40px 10px;
    }

    .wp-block-media-text {
      grid-template-columns: 1fr;
    }

    .wp-block-media-text .wp-block-media-text__media {
      display: none;
    }

    .text-page .entry-content .wp-block-media-text .wp-block-media-text__content h2 {
      font-size: 36px;
    }

    .banner .banner-text h1 {
      font-size: 40px;
    }

    .tab-module{
      padding: 10px 10px;
    }

    .pagination {
      margin: 10px auto;
    }

    .site-footer .info-row h6 {
      font-size: 12px;
    }

    .center .img-center:not(:first-child) {
      margin-left: 0;
    }

    .wp-image-2383 {
      display: none;
    }

    body .is-layout-flex {
      flex-direction: column;
    }
}

@media (min-width: 521px) and (max-width: 782px) { 
    body {
        width: 100%;
    }

   .logo{
        display: none;
    }

    .left-logo{
        padding-left: 20px;
    }

    .left-logo .text {
        margin-left: 15px;
    }
    .column{
        width:100%;
        padding: 10px 20px;
    }
    .news-module1{
        display: block;
    }
    .flex-module{
        display: block;
    }
    .left-flex{
        max-width: 100%;
    }
    
    .right-flex{
        max-width: 100%;
    }

    .right-column{
      padding-left: 0px;
    }
    .left-column{
        max-width: 100%;
    }

    .right-column{
        max-width: 100%;
    }

    .tab-module{
        padding: 10px 20px;
    }

    header img{
        height: 30px;
    }

    .site-header .logos h2 {
      font-size: 14px;
    }

    header .logos #kpi-logo img {
      height: 37px;
    }

    header .logos #iasa-logo img {
      height: 37px;
    }

    header .logos{
        padding: 20px 20px;
    }

   .video video{
        width: 85%;
        height: 85%;
    }

    .map iframe{
        width: 85%;
    }

    .tables{
        padding: 10px 15px;
    }

    .row{
        display: block;
    }

   .center{
       display: block;
   }

   .img-center{
       width: 100%;
   }

   .diploma-list>ul{
        display: block;
    }

    .mobmenul-container{
        margin-top: 45px;
    }

    .wp-block-file>a.wp-block-file__button {
        display: none;
    }

    .text-page .entry-content .wp-block-media-text .wp-block-media-text__content h2 {
      font-size: 40px;
    }

    .banner .banner-text h1 {
      font-size: 48px;
    }

    .center .img-center:not(:first-child) {
      margin-left: 0;
    }

    .wp-image-2383 {
      display: none;
    }
 }

/* Small devices (tablets) */
@media (min-width: 783px) and (max-width: 900px) { 
    body {
        width: 100%;
    }

   .column{
        width:100%;
        padding: 10px 20px;
    }

    .starosti img{
        width: 60%;
        height: 60%;
    }

    .mobmenul-container{
        margin-top: 45px;
    }

    .wp-block-file>a.wp-block-file__button {
        display: none;
    }

    .site-header .logos h2 {
      font-size: 16px;
    }

    header .logos #kpi-logo img {
      height: 40px;
    }

    header .logos #iasa-logo img {
      height: 40px;
    }

    .text-page .entry-content .wp-block-media-text .wp-block-media-text__content h2 {
      font-size: 44px;
    }

    .banner .banner-text h1 {
      font-size: 56px;
    }
}

/* Medium devices (desktops) */
@media (min-width: 901px) and (max-width: 1199px) { 
    .column{
        width:70%;
        padding: 10px 20px;
    }

    .mobmenul-container{
        margin-top: 45px;
    }

    .wp-block-file>a.wp-block-file__button {
        display: none;
    }

    figure.wp-block-image {
        margin-inline-start: 0px;
       
    }
}

/* Large devices (large desktops) */
@media (min-width: 1200px) { 
    
 }